{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'media', true) }}
<div class="col-12 mb-3">
    {{ form_row(form.media) }}
</div>
<div class="col-12">
    {{ form_row(form.aligment_media) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}