{% embed '@SfsCms/forms/modules_form_block.html.twig' with { 'name': 'media', 'accordion': accordion, 'open': true } %}
    {% block form %}
        <div class="row">
            <div class="col-12 mb-3">
                {{ form_row(form.media) }}
            </div>
            <div class="col-12">
                {{ form_row(form.aligment_media) }}
            </div>
        </div>
    {% endblock %}
{% endembed %}