{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

{% for locale,localeField in form.button_text.vars.localeFields %}
    <a href="#"
        {{ module.link_id(form.id) }}
        {{ module.link_class([form.button_classes, form.button_style]) }}
        {{ module.link_content(localeField) }}>
        {{ localeField.vars.data|default('') }}
    </a>
{% endfor %}
