{% embed '@SfsCms/forms/modules_form_block.html.twig' with { 'name': 'attributes', 'accordion': accordion } %}
    {% block form %}
        <div class="col-12">
            {{ form_row(form.id) }}
        </div>
        <div class="col-12">
            {{ form_row(form.class) }}
        </div>
    {% endblock %}
{% endembed %}

{% embed '@SfsCms/forms/modules_form_block.html.twig' with { 'name': 'title', 'accordion': accordion, 'open': true } %}
    {% block form %}
        <div class="col-12">
            {{ form_row(form.title, {'attr': {'data-content-edit-preview': 'title'}}) }}
        </div>
        <div class="col-12">
            {{ form_row(form.type) }}
        </div>
    {% endblock %}
{% endembed %}
