{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'attributes', true) }}
<div class="col-12">
    {{ form_row(form.id) }}
</div>
<div class="col-12">
    {{ form_row(form.class) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}