{% import '@SfsCms/macros/modules_render.html.twig' as module %}

<div {{ module.id(id) }} {{ module.class(class, 'sfs-wysiwyg-trans') }}>
    {% if content[app.request.locale]|default(false) %}
        {{ content[app.request.locale]|default('')|raw }}
    {% endif %}
</div>
