<div id="{{ form.id.vars.data|default('') }}"
     data-edit-id-target="codeContainerId"

     data-edit-content-target="code"
     data-edit-content-escape="true"
>{{ form.code.vars.data|default('') }}</div>

<style type="text/css" data-edit-content-target="css">
    {{ form.css.vars.data|default('')|raw }}
</style>
