<div class="container">
    <div class="row">{{ form_row(form.id) }}</div>
    <div class="row">{{ form_row(form.class) }}</div>
    <div class="row">{{ form_row(form.paragraph, {'attr': {'data-content-edit-preview': 'paragraph'}}) }}</div>
    <div class="row">{{ form_rest(form) }}</div>
</div>
